<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BseTiendaService</display-name>
  <servlet>
    <servlet-name>Administracion</servlet-name>
    <servlet-class>com.bse.servicios.ws.administracion.Administracion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administracion</servlet-name>
    <url-pattern>/Administracion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect</display-name>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>uy.com.bse.Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmisionSoa</servlet-name>
    <servlet-class>com.bse.servicios.ws.soa.EmisionSoa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmisionSoa</servlet-name>
    <url-pattern>/EmisionSoa</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmisionViajeros</servlet-name>
    <servlet-class>com.bse.servicios.ws.viajeros.EmisionViajeros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmisionViajeros</servlet-name>
    <url-pattern>/EmisionViajeros</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EmisionBici</servlet-name>
    <servlet-class>com.bse.servicios.ws.bici.EmisionBici</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmisionBici</servlet-name>
    <url-pattern>/EmisionBici</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Parametros</servlet-name>
    <servlet-class>com.bse.servicios.ws.parametros.Parametros</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Parametros</servlet-name>
    <url-pattern>/Parametros</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmisionIndivi</servlet-name>
    <servlet-class>com.bse.servicios.ws.indivi.EmisionIndivi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmisionIndivi</servlet-name>
    <url-pattern>/EmisionIndivi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmisionEDepor</servlet-name>
    <servlet-class>com.bse.servicios.ws.edeportivas.EmisionEDepor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmisionEDepor</servlet-name>
    <url-pattern>/EmisionEDepor</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Polizas</servlet-name>
    <servlet-class>com.bse.servicios.ws.polizas.Polizas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Polizas</servlet-name>
    <url-pattern>/Polizas</url-pattern>
  </servlet-mapping>
</web-app>