<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BseTiendaService</display-name>
  <servlet>
    <servlet-name>Administracion</servlet-name>
    <servlet-class>com.bse.servicios.ws.administracion.AdministracionTienda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Administracion</servlet-name>
    <url-pattern>/Administracion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmisionSoa</servlet-name>
    <servlet-class>com.bse.servicios.ws.soa.EmisionSoaTienda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmisionSoa</servlet-name>
    <url-pattern>/EmisionSoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmisionViajeros</servlet-name>
    <servlet-class>com.bse.servicios.ws.viajeros.EmisionViajerosTienda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmisionViajeros</servlet-name>
    <url-pattern>/EmisionViajeros</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmisionBici</servlet-name>
    <servlet-class>com.bse.servicios.ws.bici.EmisionBiciTienda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmisionBici</servlet-name>
    <url-pattern>/EmisionBici</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Parametros</servlet-name>
    <servlet-class>com.bse.servicios.ws.parametros.ParametrosTienda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Parametros</servlet-name>
    <url-pattern>/Parametros</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmisionIndivi</servlet-name>
    <servlet-class>com.bse.servicios.ws.indivi.EmisionIndiviTienda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmisionIndivi</servlet-name>
    <url-pattern>/EmisionIndivi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmisionEDepor</servlet-name>
    <servlet-class>com.bse.servicios.ws.edeportivas.EmisionEDeporTienda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmisionEDepor</servlet-name>
    <url-pattern>/EmisionEDepor</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmisionOPersonal</servlet-name>
    <servlet-class>com.bse.servicios.ws.opersonal.EmisionOPersonalTienda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmisionOPersonal</servlet-name>
    <url-pattern>/EmisionOPersonal</url-pattern>
  </servlet-mapping>
  <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
  </context-param>
  <listener>
    <listener-class>com.bse.servicio.config.ContextTiendaListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>Polizas</servlet-name>
    <servlet-class>com.bse.servicios.ws.polizas.PolizasTienda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Polizas</servlet-name>
    <url-pattern>/Polizas</url-pattern>
  </servlet-mapping>
</web-app>