<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<context-param>
		<param-name>isLog4jAutoInitializationDisabled</param-name>
		<param-value>true</param-value>
	</context-param>

	<listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>WsServiciosRector</servlet-name>
		<servlet-class>uy.com.bse.genericos.ws.WsServiciosRector</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsServiciosRector</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WsCotizaciones</servlet-name>
		<servlet-class>uy.com.bse.cotizaciones.ws.WsCotizaciones</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsCotizaciones</servlet-name>
		<url-pattern>/WsCotizaciones/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WsCotOperaciones</servlet-name>
		<servlet-class>uy.com.bse.cotizaciones.operaciones.ws.WsCotOperaciones</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsCotOperaciones</servlet-name>
		<url-pattern>/WsCotOperaciones/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WsServiciosPolizas</servlet-name>
		<servlet-class>uy.com.bse.polizas.ws.WsServiciosPolizas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsServiciosPolizas</servlet-name>
		<url-pattern>/WsServiciosPolizas/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WsServiciosUsuarios</servlet-name>
		<servlet-class>uy.com.bse.usuarios.ws.WsServiciosUsuarios</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsServiciosUsuarios</servlet-name>
		<url-pattern>/WsServiciosUsuarios/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WsServiciosAutodata</servlet-name>
		<servlet-class>uy.com.bse.autodata.ws.WsServiciosAutodata</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsServiciosAutodata</servlet-name>
		<url-pattern>/WsServiciosAutodata/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WsCotizadorVehiculo</servlet-name>
		<servlet-class>uy.com.bse.cotizaciones.vehiculo.WsCotizadorVehiculo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsCotizadorVehiculo</servlet-name>
		<url-pattern>/WsCotizadorVehiculo/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WsCotizadorPymes</servlet-name>
		<servlet-class>uy.com.bse.cotizadores.rapidos.WsCotizadorPymes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsCotizadorPymes</servlet-name>
		<url-pattern>/WsCotizadorPymes/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WsServiciosCotizadorVYA</servlet-name>
		<servlet-class>uy.com.bse.cotizadorvya.ws.WsServiciosCotizadorVYA</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsServiciosCotizadorVYA</servlet-name>
		<url-pattern>/WsServiciosCotizadorVYA/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WsConsultaReportes</servlet-name>
		<servlet-class>uy.com.bse.reportes.ws.WsConsultaReportes</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsConsultaReportes</servlet-name>
		<url-pattern>/WsConsultaReportes/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>WsConsultas</servlet-name>
		<servlet-class>uy.com.bse.consultas.ws.WsConsultas</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsConsultas</servlet-name>
		<url-pattern>/WsConsultas/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WsServiciosAdministracion</servlet-name>
		<servlet-class>uy.com.bse.administracion.ws.WsServiciosAdministracion</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsServiciosAdministracion</servlet-name>
		<url-pattern>/WsServiciosAdministracion/*</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>RTimeWebFilter</display-name>
		<filter-name>RTimeWebFilter</filter-name>
		<filter-class>uy.com.bse.webfilter.RTimeWebFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RTimeWebFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>