<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID"
	version="2.5">

	<context-param>
		<param-name>isLog4jAutoInitializationDisabled</param-name>
		<param-value>true</param-value>
	</context-param>

	<listener>
		<listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>WsServiciosGUC</servlet-name>
		<servlet-class>uy.com.bse.guc.ws.WsServiciosGUC</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WsServiciosGUC</servlet-name>
		<url-pattern>/WsServiciosGUC/*</url-pattern>
	</servlet-mapping>
</web-app>